# Ignore everything
*

# But not these files/directories
!/servo_project/
!/control/
!.gitignore
!manage.py
!requirements.txt
!servo_server.py

# Ignore __pycache__ in specific directories
/servo_project/__pycache__/
/control/__pycache__/
