# Ignore everything
*

# But not these files/directories
!/servo_project/
!/control/
!.gitignore
!manage.py
!requirements.txt
!servo_server.py

# Ignore all pycache folders recursively
**/__pycache__/